<!DOCTYPE html>

<html>
    <head>
        <title>Instructor</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/drawingboard.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <label>Your name:</label>
        <br>
        <input id="name" type="text" value="Witch" autocomplete="off" disabled />
        <br><br>
        <label>Your room:</label>
        <br>
        <input id="room" type="text" value="1" autocomplete="off" disabled />
        <br><br>
        <button id="connect">Connect</button>
        <br><br>
        <video height="200" autoplay id="local-video"></video>
        <div id="canvas-container"></div>
        @*<video height="200" autoplay id="remote-video"></video>*@
        <br>
        <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/adapter.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/drawingboard.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <script>
            let localVideo = document.getElementById('local-video');

            const mediaStreamConstraints = {
                video: true,
//                audio: true
            };

            const CLIENT_TYPE = {
                INSTRUCTOR_HELLO: @commons.Const.ClientMessageType.INSTRUCTOR_HELLO.value,
                LEARNER_HELLO: @commons.Const.ClientMessageType.LEARNER_HELLO.value,
                BYE: @commons.Const.ClientMessageType.BYE.value,
                CALL: @commons.Const.ClientMessageType.CALL.value,
                ICE: @commons.Const.ClientMessageType.ICE.value
            };

            const STREAM_TYPE = {
                FACE: @commons.Const.StreamType.FACE.value,
                CANVAS: @commons.Const.StreamType.CANVAS.value
            };

            const iceServers = {
                'iceServers':
                        [{
                            urls: [
                                'stun:stun.l.google.com:19302',
                            ]}, {
                            urls: 'turn:13.250.13.83:3478?transport=udp',
                            credential: 'YzYNCouZM1mhqhmseWk6',
                            username: 'YzYNCouZM1mhqhmseWk6'
                        }]
            };

            let nameTxt = document.getElementById('name');
            let roomTxt = document.getElementById('room');
            let connectButton = document.getElementById('connect');

            let webSocketUrl = '@routes.WebRTCController.signalingSocket().webSocketURL()';
            if (location.protocol === 'https:') {
                webSocketUrl = webSocketUrl.replace('ws', 'wss');
            }

            let webSocket = new WebSocket(webSocketUrl);

            let sendToServer = (data) => {
                webSocket.send(JSON.stringify(data));
            };

            let peerConnection, canvasConnection;
            let yourName, calleeName;

            let createConnection = (stream, streamType) => {
                let connection = new RTCPeerConnection(iceServers);
                stream.getTracks().forEach(track => connection.addTrack(track, stream));

                connection.onicecandidate = (event) => {
                    if (event.candidate) {
                        sendToServer({
                            type: CLIENT_TYPE.ICE,
                            ice: event.candidate,
                            name: yourName,
                            callee: calleeName,
                            streamType: streamType,
                            room: roomTxt.value
                        });
                    }
                };

                return connection;
            };

            connectButton.addEventListener('click', () => {
                yourName = nameTxt.value;
                nameTxt.disabled = true;
                sendToServer({
                    type: CLIENT_TYPE.INSTRUCTOR_HELLO,
                    name: yourName,
                    room: roomTxt.value
                });
            });


            let createAnswer = (data, connection, streamType) => {
                connection.setRemoteDescription(new RTCSessionDescription(data.sdp))
                        .then(() => connection.createAnswer())
                        .then(answer => connection.setLocalDescription(answer))
                        .then(() => {
                            sendToServer({
                                type: CLIENT_TYPE.CALL,
                                name: yourName,
                                callee: calleeName,
                                sdp: connection.localDescription,
                                streamType: streamType,
                                room: roomTxt.value
                            });
                            console.log('Successfully sending answer...');
                        })
                        .catch(reason => console.log(reason));
            };

            //when the websocket responds to you:
            //possible situations:
            webSocket.onmessage = (event) => {
                let data = JSON.parse(event.data);

                if (data.response) {
                    console.log(data.response);
                    return;
                }

                let connection = (data.streamType === STREAM_TYPE.FACE) ? peerConnection : canvasConnection;

                if (data.ice) {
                    connection.addIceCandidate(new RTCIceCandidate(data.ice));
                    return;
                }

                if (data.sdp.type === 'offer') {
                    console.log('Successfully receiving offer...');
                    calleeName = data.name;
                    if (data.streamType === STREAM_TYPE.FACE) {
                        peerConnection = createConnection(localVideo.srcObject, STREAM_TYPE.FACE);
                        createAnswer(data, peerConnection, STREAM_TYPE.FACE);
                    } else {
                        let canvas = document.querySelector('canvas');
                        canvasConnection = createConnection(canvas.captureStream(), STREAM_TYPE.CANVAS);
                        createAnswer(data, canvasConnection, STREAM_TYPE.CANVAS);
                    }
                }
            };

            //when you drop off the grid
            webSocket.onclose = (event) => {
                console.log('Websocket closing...');
            };

            // get the video track from your own device and show it to you
            let initialize = () => {
                navigator.mediaDevices.getUserMedia(mediaStreamConstraints)
                        .then(stream => localVideo.srcObject = stream)
                        .catch(reason => console.log(reason));
            };

            initialize();

            let canvasBoard = new DrawingBoard.Board('canvas-container');
        </script>
    </body>
</html>
