<!DOCTYPE html>

<html>
    <head>
        <title>Learner</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <label>Your name:</label>
        <br>
        <input id="name" type="text" autocomplete="off" />
        <br><br>
        <label>What room do you want to join?</label>
        <br>
        <input id="room" type="text" value="1" autocomplete="off" disabled />
        <br><br>
        <button id="join">Join</button>
        <br>
        <span id="status"></span>
        <br><br>
        <video height="200" autoplay id="remote-video"></video>
        <video height="200" autoplay id="canvas-video"></video>
        <br>
        <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/adapter.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <script>
            let remoteVideo = document.getElementById('remote-video');
            let canvasVideo = document.getElementById('canvas-video');

            const faceOfferOptions = {
                offerToReceiveVideo: 1,
//                offerToReceiveAudio: 1
            };

            const canvasOfferOptions = {
                offerToReceiveVideo: 1
            };

            const CLIENT_TYPE = {
                LEARNER_HELLO: @commons.Const.ClientMessageType.LEARNER_HELLO.value,
                INSTRUCTOR_HELLO: @commons.Const.ClientMessageType.INSTRUCTOR_HELLO.value,
                BYE: @commons.Const.ClientMessageType.BYE.value,
                CALL: @commons.Const.ClientMessageType.CALL.value,
                ICE: @commons.Const.ClientMessageType.ICE.value
            };

            const STREAM_TYPE = {
                FACE: @commons.Const.StreamType.FACE.value,
                CANVAS: @commons.Const.StreamType.CANVAS.value
            };

            const SERVER_TYPE = {
                CAN_MAKE_OFFER: @commons.Const.ServerMessageType.CAN_MAKE_OFFER.value
            };

            const iceServers = {
                'iceServers':
                        [{
                        urls: [
                            'stun:stun.l.google.com:19302',
                        ]}, {
                        urls: 'turn:13.250.13.83:3478?transport=udp',
                        credential: 'YzYNCouZM1mhqhmseWk6',
                        username: 'YzYNCouZM1mhqhmseWk6'
                        }]
            };

            let nameTxt = document.getElementById('name');
            let roomTxt = document.getElementById('room');
//            let connectButton = document.getElementById('connect');
            let joinButton = document.getElementById('join');
            let status = document.getElementById('status');

            let webSocketUrl = '@routes.WebRTCController.signalingSocket().webSocketURL()';
            if (location.protocol === 'https:') {
                webSocketUrl = webSocketUrl.replace('ws', 'wss');
            }

            let webSocket = new WebSocket(webSocketUrl);

            let sendToServer = (data) => {
                webSocket.send(JSON.stringify(data));
            };

            let yourName, calleeName;

            let addOnIceCandidateHandler = (connection, streamType) => {
                connection.onicecandidate = (event) => {
                    if (event.candidate) {
                        sendToServer({
                            type: CLIENT_TYPE.ICE,
                            ice: event.candidate,
                            name: yourName,
                            callee: calleeName,
                            streamType: streamType,
                            room: roomTxt.value
                        });
                    }
                };
            };

            let addOnTrackHandler = (connection, video) => {
                connection.ontrack = (event) => {
                    console.log('On track...');
                    video.srcObject = event.streams[0];
                };
            };

            let createConnection = (streamType, video) => {
                let connection = new RTCPeerConnection(iceServers);
                addOnIceCandidateHandler(connection, streamType);
                addOnTrackHandler(connection, video);
                return connection;
            };

            let peerConnection = createConnection(STREAM_TYPE.FACE, remoteVideo);
            let canvasConnection = createConnection(STREAM_TYPE.CANVAS, canvasVideo);

            let createOffer = (connection, offerOptions, streamType) => {
                connection.createOffer(offerOptions)
                        .then(offer => connection.setLocalDescription(offer))
                        .then(() => {
                            sendToServer({
                                type: CLIENT_TYPE.CALL,
                                name: yourName,
                                room: roomTxt.value,
                                callee: calleeName,
                                sdp: connection.localDescription,
                                streamType: streamType
                            });
                            console.log('Successfully creating offer...');
                        })
                        .catch(reason => console.log(reason));
            };

            let sayHello = () => {
                yourName = nameTxt.value;
                sendToServer({
                    type: CLIENT_TYPE.LEARNER_HELLO,
                    name: yourName,
                    room: roomTxt.value
                });
            };

            joinButton.addEventListener('click', () => {
                sayHello();
                status.innerHTML = 'Instructor is not here yet...';
            });



            //when the websocket responds to you:
            //possible situations:
            webSocket.onmessage = (event) => {
                let data = JSON.parse(event.data);

                if (data.response) {
                    console.log(data.response);
                    return;
                }

                if (data.notice && data.notice === SERVER_TYPE.CAN_MAKE_OFFER) {
                    calleeName = data.instructor;
                    status.innerHTML = '';
                    createOffer(peerConnection, faceOfferOptions, STREAM_TYPE.FACE);
                    createOffer(canvasConnection, canvasOfferOptions, STREAM_TYPE.CANVAS);
                    return;
                }

                let connection = (data.streamType === STREAM_TYPE.FACE) ? peerConnection : canvasConnection;

                if (data.ice) {
                    connection.addIceCandidate(new RTCIceCandidate(data.ice));
                    return;
                }

                if (data.sdp.type === 'answer') {
                    connection.setRemoteDescription(new RTCSessionDescription(data.sdp))
                            .then(() => {
                                console.log('Successfully received the answer...');
                            })
                            .catch(reason => console.log(reason));
                }
            };

            //when you drop off the grid
            webSocket.onclose = (event) => {
                console.log('Websocket closing...');
            };
        </script>
    </body>
</html>
