<!DOCTYPE html>

<html>
    <head>
        <title>Learner</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <label>Your name:</label>
        <br>
        <input id="name" type="text" autocomplete="off" />
        <br>
        <button id="connect">Connect</button>
        <br><br>
        <label>Who do you want to call?</label>
        <br>
        <input id="callee" type="text" value="Witch" autocomplete="off" disabled />
        <br>
        <button id="call">Call</button>
        <br>
        <video height="200" autoplay id="remote-video"></video>
        <video height="200" autoplay id="canvas-video"></video>
        <br>
        <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/adapter.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <script>
            let remoteVideo = document.getElementById('remote-video');
            let canvasVideo = document.getElementById('canvas-video');

            const faceOfferOptions = {
                offerToReceiveVideo: 1,
//                offerToReceiveAudio: 1
            };

            const canvasOfferOptions = {
                offerToReceiveVideo: 1
            };

            const CLIENT_TYPE = {
                HELLO: @commons.Const.ClientMessageType.HELLO.value,
                BYE: @commons.Const.ClientMessageType.BYE.value,
                CALL: @commons.Const.ClientMessageType.CALL.value,
                ICE: @commons.Const.ClientMessageType.ICE.value
            };

            const STREAM_TYPE = {
                FACE: @commons.Const.StreamType.FACE.value,
                CANVAS: @commons.Const.StreamType.CANVAS.value
            };

            const iceServers = {
                'iceServers':
                        [{
                        urls: [
                            'stun:stun.l.google.com:19302',
                        ]}, {
                        urls: 'turn:13.250.13.83:3478?transport=udp',
                        credential: 'YzYNCouZM1mhqhmseWk6',
                        username: 'YzYNCouZM1mhqhmseWk6'
                        }]
            };

            let nameTxt = document.getElementById('name');
            let calleeTxt = document.getElementById('callee');
            let connectButton = document.getElementById('connect');
            let callButton = document.getElementById('call');

            let webSocketUrl = '@routes.WebRTCController.signalingSocket().webSocketURL()';
            if (location.protocol === 'https:') {
                webSocketUrl = webSocketUrl.replace('ws', 'wss');
            }

            let webSocket = new WebSocket(webSocketUrl);

            let sendToServer = (data) => {
                webSocket.send(JSON.stringify(data));
            };

            let peerConnection = new RTCPeerConnection(iceServers);
            let canvasConnection = new RTCPeerConnection(iceServers);
            let yourName, calleeName;

            peerConnection.onicecandidate = (event) => {
                if (event.candidate) {
                    sendToServer({
                        type: CLIENT_TYPE.ICE,
                        ice: event.candidate,
                        name: yourName,
                        callee: calleeName,
                        streamType: STREAM_TYPE.FACE
                    });
                }
            };

            peerConnection.ontrack = (event) => {
                console.log('On camera track...');
                remoteVideo.srcObject = event.streams[0];
                console.log(event);
            };

            canvasConnection.onicecandidate = (event) => {
                if (event.candidate) {
                    sendToServer({
                        type: CLIENT_TYPE.ICE,
                        ice: event.candidate,
                        name: yourName,
                        callee: calleeName,
                        streamType: STREAM_TYPE.CANVAS
                    });
                }
            };

            canvasConnection.ontrack = (event) => {
                console.log('On canvas track...');
                canvasVideo.srcObject = event.streams[0];
                console.log(event);
            };

            connectButton.addEventListener('click', () => {
                yourName = nameTxt.value;
                nameTxt.disabled = true;
                sendToServer({
                    type: CLIENT_TYPE.HELLO,
                    name: yourName
                });
            });

            callButton.addEventListener('click', () => {
                calleeName = calleeTxt.value;
                console.log(`Calling ${calleeName}...`);
                peerConnection.createOffer(faceOfferOptions)
                        .then(offer => peerConnection.setLocalDescription(offer))
                        .then(() => {
                            sendToServer({
                                type: CLIENT_TYPE.CALL,
                                name: yourName,
                                callee: calleeName,
                                sdp: peerConnection.localDescription,
                                streamType: STREAM_TYPE.FACE
                            });
                        })
                        .catch(reason => console.log(reason));
                canvasConnection.createOffer(canvasOfferOptions)
                        .then(offer => canvasConnection.setLocalDescription(offer))
                        .then(() => {
                            sendToServer({
                                type: CLIENT_TYPE.CALL,
                                name: yourName,
                                callee: calleeName,
                                sdp: canvasConnection.localDescription,
                                streamType: STREAM_TYPE.CANVAS
                            });
                        })
                        .catch(reason => console.log(reason));
            });

            //when the websocket responds to you:
            //possible situations:
            webSocket.onmessage = (event) => {
                let data = JSON.parse(event.data);

                if (data.response) {
                    console.log(data.response);
                    return;
                }

                if (data.ice) {
                    if (data.streamType === STREAM_TYPE.FACE) {
                        peerConnection.addIceCandidate(new RTCIceCandidate(data.ice));
                    } else {
                        canvasConnection.addIceCandidate(new RTCIceCandidate(data.ice));
                    }
                    return;
                }

                if (data.sdp.type === 'answer') {
                    if (data.streamType === STREAM_TYPE.FACE) {
                        peerConnection.setRemoteDescription(new RTCSessionDescription(data.sdp))
                                .then(() => {
                                    console.log('Successfully received the face answer...');
                                })
                                .catch(reason => console.log(reason));
                    } else {
                        canvasConnection.setRemoteDescription(new RTCSessionDescription(data.sdp))
                                .then(() => {
                                    console.log('Successfully received the canvas answer...');
                                })
                                .catch(reason => console.log(reason));
                    }
                }
            };

            //when you drop off the grid
            webSocket.onclose = (event) => {
                console.log('Websocket closing...');
            };
        </script>
    </body>
</html>
